---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ExoAtlas</title>
  </head>
  <body class="bg-neutral-900 text-white min-h-screen flex items-center justify-center">
    <slot />
  </body>
</html>